<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
               http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">

    <bean id="messageSource" class=
            "org.springframework.context.support.ResourceBundleMessageSource">
        <property name="basenames">
            <list>
                <value>messages</value>
                <value>errors</value>
            </list>
        </property>
    </bean>

    <bean id="userController"
          class="com.antonionoca.spring2sampleapp.controller.UserController">
    </bean>

    <bean id="errorController"
          class="org.springframework.web.servlet.mvc.UrlFilenameViewController"/>

    <bean id="simpleHandler"
          class="org.springframework.web.servlet.mvc.SimpleControllerHandlerAdapter"/>

    <bean id="urlMapping"
          class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
        <property name="mappings">
            <props>
                <prop key="/users.htm">userController</prop>
            </props>
        </property>
    </bean>

    <bean id="viewResolver"
          class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix">
            <value>/WEB-INF/jsp/</value>
        </property>
        <property name="suffix">
            <value>.jsp</value>
        </property>
    </bean>

</beans>
